.container {
    text-align: center;
}

.response {
    width: 250px;
    background-color: red;
    margin: 15px auto;
    padding: 25px 0;
}

#correct {
    background-color: green;
}

button {
    margin: 5px;
}